.main__tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    overflow-x: unset;
}
.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
