/*
1.posicionamiento
2.Box model
3.Tipografia
4.Estilos visuales
5.Otros
*/
:root{
  /*Colores*/
  --color-primary:#F7931A;  
  --color-primary-soft: #FFE9D5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201E1C;
  --black: #000000;
  --grey: #bababa;
  --off-white: #FAf8f7;
  --just-white: #fff;
  /*Fuente*/
  --second-font: 'Inter', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans','sans-serif';
}
main{
  width: 100%;
  min-width: 288px;
  height: auto;
  background-color: var(--off-white);
}
.main__exchange-container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
} 
.main__exchange-tittle{
  width: 85%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__exchange-container .backgroundImg{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;background-image: url('/assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__exchange-tittle h2{
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
}
.main__exchange-tittle p{
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 1.4rem; 
  line-height: 1.6rem;
  color: #757575;
}
/*Tabla*/
.main__tables-container{  
  margin-bottom: 64px;
  min-width: 235px;
}
.main-currency__table{
  font-family: var(--second-font);
}
.currency-table--container{
  width: 197px;
  margin: 0 auto;
}
td{
  border: solid black;
  width: 101px;
  height: 39px;
}