/*
1.posicionamiento
2.Box model
3.Tipografia
4.Estilos visuales
5.Otros
*/
:root{
  /*Colores*/
  --color-primary:#F7931A;  
  --color-primary-soft: #FFE9D5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201E1C;
  --black: #000000;
  --grey: #bababa;
  --off-white: #FAf8f7;
  --just-white: #fff;
  /*Fuente*/
  --second-font: 'Inter', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans','sans-serif';
}
